@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body{
  background: url(../assets/adminl_log.jpg);
  background-size: cover;
}
.login-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: 480px;
  padding: 30px;
  background: rgba(255,255,255,0.6);
  border-radius: 30px;
}

.login-header {
  text-align: center;
  margin: 20px 0 40 0;
}
.login-header header {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}

.input-box .input-field {
  width: 100%;
  height: 60px;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: 0.3s;
}

::-moz-placeholder {
  font-weight: 500;
  color: #222;
}

::placeholder {
  font-weight: 500;
  color: #222;
}

.input-field:focus {
  width: 105%;
}

.input-submit {
  position: relative;
}

.submit-btn {
  width: 100%;
  height: 60px;
  background-color: #222;
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #000;
  transform: scale(1.05, 1);
}

.signup {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
.signup a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

nav{
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
   background: rgba(255,255,255,0.6);
}


@media only screen and (min-width: 728px) {
  nav {
    border-radius: 0px;
  }

}