{% extends "base.html" %}

{% block title %}
About Page
{% endblock %}

{% block content %}
    <div class="Research and Sources">
        
        <h1>Our Mission</h1>
        <a>
            According to the Pew Research center, the percentage of high school students that are able to find 
            summer jobs has been decreasing for the past century (Pew Research Center). 
            That’s not all though: youth unemployment is on the rise (Bureau of Labor Statistics).
            This is because young people have less experience with applying to jobs and knowing which jobs to apply to. 
            With jobs being such a crucial experience for students to step into the future, something needs to change. 
            That is where Anchor comes in. Easy to use, secure, and curated, 
            Anchor makes it effortless to put your resume into the world and find your ideal job.

        </a>
        <br>
        <br>
        <a>
            https://www.pewresearch.org/short-reads/2022/06/21/
            after-dropping-in-2020-teen-summer-employment-may-be-poised-to-continue-its-slow-comeback/ 
            https://www.weforum.org/stories/2024/08/global-youth-employment-future-jobs/ 
            https://www.bls.gov/news.release/pdf/youth.pdf 

        </a>
    </div>
{% endblock %}