{% extends "base.html" %}

<!-- {% block title %}
Admin Login Page
{% endblock %} -->

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/admin_log.css">
<link rel="stylesheet" href="{{ url_for('static', filename ='css/admin_log.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>
<body>
    <nav>
        <h2>Anchor</h2>
       
    </nav>
<main>
    <div class="login-box">
        <form method="POST" action="/admin/login">
        <div class="login-header">
            <header>Admin Login</header>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" name="username" placeholder= "Username" required>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" name="password" placeholder="Password" required>
        </div>
       

        <div class="input-submit">
            
        <button type="submit" class="submit-btn">Login</button>
        </div>



    </form>
   
    </div>
  

</main>
    
   
       
        
        
       

   

</body>



{% endblock %}


{% endblock %}
