{% extends "base.html" %}

{% block title %}
Admin Panel Page
{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h2>Job Postings - Admin Panel</h2>

    {% if job_posts %}
        <ul>
            {% for job in job_posts %}
                <li>
                    <a>{{ job.display }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No job postings available.</p>
    {% endif %}

</body>

{% endblock %}
