{% extends "base.html" %}

{% block title %}
Admin Panel Page
{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
    <h2>Job Postings - Admin Panel</h2>

    <form action="{{ url_for('admin_panel') }}" method="POST">
        <div>
        <ul>
            {% for job in job_posts %}
                <li>
                    <input type="checkbox" name="selected_jobs" value="{{ job.id }}">
                    <a>{{ job.display }}</a>
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Save Selected Jobs</button>
        </div>
    </form>
</body>

{% endblock %}