{% extends "base.html" %}

{% block title %}Apply for {{ job_post.display }}{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/css/applicationPage.css">
<link rel="stylesheet" href="{{ url_for('static', filename ='css/applicationPage.css') }}">

<body>

<main>
<div class="login-box">
  <form action="{{ url_for('apply', job_id=job_post.id) }}" method="post" enctype="multipart/form-data">
    <br>
    <div class="login-header">
        <header>
         {{ job_post.display|safe }}
        </header>
    </div>
    <br><br><br>
    <div class="input-box">
      <input type="text" class="input-field" id="student_name" name="student_name" placeholder="Student Name">
    </div>
    <div class="input-box">
      <input type="email" class="input-field" id="email" name="email" placeholder="Email"required>
    </div>
    <div class="input-box">
      <label for="resume">Upload Resume:</label>
      <input type="file" class="input-field" id="resume" name="resume" accept=".pdf, .doc, .docx" required>
    </div>
   

    <div class="input-submit">
        
      <button type="submit" class="submit-btn">Submit Application</button>
    </div>

  </form>

</div>
{% endblock %}
