{% extends "base.html" %}

{% block title %}
Job Display
{% endblock %}

{% block content %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
<header>
    <a href="#" class="logo">Anchor</a>
    <nav>

      <ul>
        <li></li>

      </ul>
  </header>
 <div class="container">
   <h1>Student Job Postings</h1>


   {% if selected_posts %}
       <div class="job-list">
           {% for job in selected_posts %}
               <div class="job-card">
                   <p class="job-description">{{ job.display|safe }}</p>
                   <a href="{{ url_for('apply', job_id=job.id) }}" class="apply-button">Apply Now</a>
               </div>
           {% endfor %}
       </div>
   {% else %}
       <p class="no-jobs">No job postings available yet.</p>
   {% endif %}
 </div>
{% endblock %}