

{% extends "base.html" %}


{% block content %}
<link rel="stylesheet" type="text/css" href="css/display.css">
  <div>
    <h1>Display Page</h1>

    {% if selected_posts %}
        <ul>
            {% for job in selected_posts %}
                <li>
                    {{ job.display }}
                    <a href="{{ url_for('apply', job_id=job.id) }}">Apply Now</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No job postings available yet.</p>
    {% endif %}
  </div>
{% endblock %}
