{% extends "base.html" %}

{% block title %}
Employer Dashboard
{% endblock %}

{% block content %}
<header>
    <a href="/home" class="logo">Anchor</a>
    <nav>

      <ul>
        <li><a href="/postJobs">Job Posting</a></li>

      </ul>
  </header>
  
<div class="container">
    <h1>Submitted Applications</h1>
    <div class="application-list">
        {% for application in applications %}
            <div class="card">
                <p class="applicant-name">{{ application.student_name }}</p>
                <p class="applicant-email">{{ application.email }}</p>
                <a href="{{ url_for('static', filename='uploads/' ~ application.resume_path) }}" download>Download Resume</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
