{% extends "base.html" %}

{% block title %}
Employer Login Page
{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Employer Login</title>
</head>
<body>
    <h2>Employer Login</h2>
    <form method="POST" action="/employer/login">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>

    <p> <a href="employer_signup.html">Don't have an account? Sign up here</a>.</p>

</body>



{% endblock %}