{% extends "base.html" %}

<!-- {% block title %}
Employer Signup Page
{% endblock %} -->

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/emp_sign.css">
<link rel="stylesheet" href="{{ url_for('static', filename ='css/emp_sign.css') }}">

<body>
    <nav>
        <h2>Anchor</h2>
       
    </nav>
<main>
<div class="login-box">
    <form method="POST">
    <div class="login-header">
        <header>Employer Signup</header>
    </div>
    <div class="input-box">
        <input type="text" class="input-field" name="username" placeholder="Username" required>
    </div>
    <div class="input-box">
        <input type="password" class="input-field" name="password" placeholder="Password" required>
    </div>
   

    <div class="input-submit">
        
    <button type="submit" class="submit-btn">Signup</button>
    </div>


    {% if error %}
    <p>{{ error }}</p>
    {% endif %}


  
</form>


</div>
</main>
</body>
{% endblock %}

