
{% extends "base.html" %}

{% block title %}View Applications{% endblock %}

{% block content %}
<h1>Submitted Applications</h1>
<ul>
    {% for application in applications %}
        <li>
            <strong>Job ID:</strong> {{ application.job_id }}<br>
            <strong>Applicant Name:</strong> {{ application.student_name }}<br>
            <strong>Email:</strong> {{ application.email }}<br>
            <a href="{{ url_for('static', filename='uploads/' + application.resume_path)}}" download>Download Resume</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}

