<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Guidance Department - Job Portal</title>
    <link rel="stylesheet" type="text/css" href="../static/css/form.css">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/form.css') }}">
</head>
<body>
    <header>
      <a href="/home" class="logo">Anchor</a>
      <nav>

        <ul>

        </ul>
    </nav>
    </header>

  <div class="wrapper">
    <section class="hero">
      <div class = primary> </div>
    </section>
    <section class="sidebar">
     <div class="inner">
      <div class="clipper">
        <h2>Are you hiring or looking for a job?</h2>

      <div class="anim-panel">
        <a href="/display"> <button type="submit">I am a student looking for a job</button> </a>

        <a href="/employer/login"> <button type="submit">I am an employer looking to hire people</button> </a>

      </div>
     </div>
    </section>

    </div>
    
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

    <script> 

      document.addEventListener("DOMContentLoaded", function(event){
          window.addEventListener("load", function(e) {
            
            document.body.style.display = "block";
            
            
            var tl = new TimelineMax();

            tl.staggerFrom('section', 2,{
              opacity: 0,
              scale: .5, 
              ease: Power2.easeOut
            }, 0.2)

            tl.staggerFrom('h1, h2', .5, {
              opacity: 0,
              y: -40,
              ease: Power2.easeInOut

            }, 0.2, "-=2")

            tl.staggerFrom('.anim-panel', 1, {
              opacity: 0,
              y: -40,
              ease: Power2.easeInOut

            }, 0.2, "-=1.5")

          }, false);

      });

 
    </script>
</body>
</html>