<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Guidance Department - Job Portal</title>
    <link rel="stylesheet" type="text/css" href="css/form.css">
</head>

<body>
    <main>
        <h2>Are you hiring or looking for a job?</h2>
        <div class="options">

            <div class = "option1">
           <a href="student.html"> <button type="submit">I am a student looking for a job</button> </a>
            </div>
            <div class = "option2">
           <a href="employer_login.html"> <button type="submit">I am an employer looking to hire people</button> </a>
            </div>
        </div>

        
    </main>


</body>


</html>