<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Guidance Department - Job Portal</title>

<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9abbe6;
}

li {
  display: inline;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #30578a;
}

</style>
<!-- <link rel="stylesheet" type="text/css" href="homepage.css">  -->
main
</head>
<body>
    <header>
        <h1>Welcome to the Job Portal</h1>
    </header>

    
    <script src="script.js"></script>

<ul>
  <li><a href="homepage.html"> Recommended </a></li>
  <li><a href="applicationPage.html"> Applications </a></li>
  
</ul>
  
main
</body>
</html>
