{% extends "base.html" %}

{% block title %}
Post a Job
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/post_jobs.css">
<link rel="stylesheet" href="{{ url_for('static', filename ='css/post_jobs.css') }}">



  <body>

<main>
<div class="login-box">
  <form action="/postJobs" method="post">
    <div class="login-header">
        <header>
          Post Jobs Form for Employers
        </header>
    </div>
    <br><br><br>
    <div class="input-box">
      <input type="text" class="input-field" id="company_name" placeholder="Company Name" name="company_name"/>

      
    </div>
    <div class="input-box">
      <input type="text" class="input-field" id="job_title" placeholder="Job Title" name="job_title"/>
    </div>
    <div class="input-box">
      <input type="text" class="input-field" id="description" placeholder="Job Description" name="description"/>
    </div>
   

    <div class="input-submit">
        
      <input type="submit" class="submit-btn" id="submit" value="Submit"/>
    </div>

  </form>
{% endblock %}

