<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Guidance Department - Job Portal</title>
    <link rel="stylesheet" href="student.css">
</head>
<body>
  <header>
    <nav>
        <h1>Job We Met</h1>
        <ul>
          <li><a href="">Jobs</a></li>
          <li><a href="">About</a></li>
          <div class="dropdown">
            <li> <a href="">Login</a></li>
            <div class="dropdown-menu">
              Logout
            </div>
          </div>
        </ul>
    </nav>
    </header>
    <div class="wrapper">
      <section class="hero">

      </section>
      <section class="sidebar">
       <div class="inner">
        <div class="clipper">
          <h2>JOB WE MET</h2>
        </div>
        <div class="anim-panel">
          <h5>A website dedicated to finding jobs for aspiring high school students.</h5>
        </div>
       </div>
      </section>
      <section class="signup">
        <div class="inner">
          <div class="clipper">
            <h2>SIGN-UP</h2>
          </div>
          <div class="anim-panel">
            <input type="text" name="email" id="email">
            <input type="text" name="password" id="password">
            <button class="cta"> Get Started</button>
          </div>
        </div>
      </section>
      </div>
    <hr class="solid">
      
    

    
    
      
    </body>
        
     <!--    <main>
            <h2>Are you hiring or looking for a job?</h2>
            <div class="options">
                <label>
                    <input type="checkbox" id="employer" onclick="redirect('employer')">
                    I’m Hiring (Employer)
                </label>
                <label>
                    <input type="checkbox" id="student" onclick="redirect('student')">
                    I’m Looking for a Job (Student)
                </label>
            </div>
        </main>
    
    feature/edit-homepage
        <script src="script.js"></script>-->       

</html>