*{
   margin:0px;
   padding:0px;
   box-sizing: border-box;
   font-family: 'Trebuchet MS';
   background-color: #f4f3f0;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 16px 60px;
   
}

hr.solid {
    border-top: 0.5px solid #bbb;
  }
  

nav h1{
    font-size: 32px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 0px 25px;
}

nav ul li a{
   text-decoration: none;
   font-size: 20px;
   color: black;
}

nav ul li::after{
    display: block;
    content:"";
    height: 2px;
    background-color: #658ee0;
    transform: scaleX(0);
    transition: 0.6s ease;
}

nav ul li:hover::after {
    transform: scaleX(1);
}

.dropdown {
    position: relative;
    
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100 + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

}

.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    pointer-events: auto;

}

